<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="form_margin">
      <div class="booyah-box col-10 offset-1">
        <div align="center">
          <%= simple_form_for @memory, url: mem_path do |f| %>
          <%= f.input :mem %>
          <%= f.input :mood %>
          <%= f.input :thoughts %>
          <%= f.input :date %>
          <%= f.input :location %>
          <h3>suggestion: other than maybe fixing spelling mistakes, try to keep your mems the way they were. keep you first inital thoughts and feelings. that's what makes it cool.</h3> 
          <%= f.submit "update mem", class: 'btn btn-secondary' %>
          <% end %>
        </div>
      </div>
    </div>

