<html>
  <head>
  </head>
  <div class="form_margin">
    <div class="booyah-box col-10 offset-1">
      <div align="center"> 
        <body>
          <div style="border:0.1px; border-style:solid; border-color: white; padding: 0.1em;">
            <h2><%= @memory.mem %></h2>
            <h3>mood: <%= @memory.mood %></h3>
            <p><%= @memory.thoughts %></p>
          </div>

        <% if @memory.latitude.present? && @memory.longitude.present? %>
          <script>
            function initMap() {
              var myLatLng = {lat: <%= @memory.latitude %>, lng: <%= @memory.longitude %>};

              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: myLatLng
              });

              var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Hello World!'
              });
            }
          </script>

          <div id="map"></div>

        <% end %>

        <br />

          <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1SbG-BOWcVj3ZbWVmXVBRd6DgBMJ4-pg&callback=initMap">
          </script>

          <h3><%= @memory.date.strftime("%B %d, %Y") %></h3>
        </body>
        <div class="mem-edit">
          <% if current_user && current_user == @memory.user %>
            <%= link_to 'edit mem', edit_mem_path(@memory), class: 'btn btn-secondary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</html>

