<!DOCTYPE html>
<html>
  <head>
    <title>mem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
       <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
  </head>

    <body>
      <% unless action_name == "initial" %>
        <div class="my-header">
          <div id="flex-content-container">
            <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
              <a class="navbar-brand" href= /info_page ><%= image_tag 'mem.png', class: 'mem' %></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
         

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                  <ul class="navbar-nav">
                    <% if user_signed_in? %>
                      <li class="nav-item">
                        <%= link_to 'create mem',
                        new_mem_path, class: 'nav-link' %>
                      </li>
                      <li class="nav-item">
                        <%= link_to 'timeline', mems_path(current_user), class: 'nav-link' %>   
                      </li> 
                      <li class="nav-item">
                        <%= link_to 'sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
                      </li>
                    <% else %>
                      <li class="nav-item">
                        <%= link_to 'sign in', new_user_session_path, class: 'nav-link' %>
                      </li>
                      <li class="nav-item">
                        <%= link_to 'sign up', new_user_registration_path, class: 'nav-link' %>
                      </li>
                    <% end %>
                  </ul>
                </div>
            </nav>
          </div>
        </div>
      <% end %>

      <div class="alert_style">
        <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
        <% end %>
        <% if alert.present? %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
